* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*medida da caixa pela borda*/
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.body {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}
img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 4px;
  border: #08aeea solid 4px;
  


 
}

h1 {
  font-size: 32px;
  color: #00082f;
  margin-top: 24px;
  margin-bottom: 8px;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: #00082f;
  opacity: 0.8;
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #588c7e;
  color: aliceblue;*/
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );

  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 200ms;
}
/*pseudo-class*/
ul li a:hover {
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
}

footer {
  color: #00082f;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.4;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: #00082f;
}
